.container {
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
  margin-top: 4px;
}

@media screen and (max-width: 769px) {
  .container {
    gap: 0;
  }
  .container svg {
    scale: 0.7;
  }
}

@media screen and (max-width: 426px) {
  .container {
    gap: 0;
    margin-top: 0;
  }
  .container svg {
    scale: 0.6;
  }
}
